services:
  backend:
    build:
      context: ./backend_dotnet
    container_name: grocer-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
